@page "/counter/{initialCount:int?}"
@page "/counter2"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>Initial Count set by URL /counter/initialcount= @InitialCount</p>

@if (currentCount >= 5){
   
    <p>And how!</p>
}

<ul>
    @for (int i=0; i < currentCount; i++){
        <li>Indubitably!</li>
    }
</ul>

@code {
    private int currentCount = 0;

    //Lambda function works the same as arrow function, essentially
    protected override void OnInitialized() => currentCount = InitialCount;

    [Parameter]
    public int InitialCount {get;set;}

    [Parameter]
    public int IncrementAmount {get; set;} = 1;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
}
